.container {
  background: #212120;
  width: 100%;
  height: 100%;
}

.content {
  padding: 24px 24px 24px 24px;
  height: 100%;
}

.form-case {
  border: 0.3px solid #ffbb0b;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.handle-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 24px 0px 24px;
  gap: 8px;
}

.mat-jaune {
  background-color: #ffbb0b !important;
  color: #212120 !important;
}
.mat-jaune-inv {
  background-color: #2d2d2c !important;
  color: #ffbb0b !important;
}
