<div class="container">
  <div class="content">
    <div class="form-case">
      <form class="form">
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <input matInput placeholder="Marca" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="Modelo" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cor</mat-label>
          <input matInput placeholder="Cor" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ano</mat-label>
          <input
            matInput
            placeholder="Ano"
            type="number"
            min="1950"
            max="2025"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data Última Compra</mat-label>
          <input matInput placeholder="Data Última Compra" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Valor</mat-label>
          <input matInput placeholder="Valor" required />
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
