<div class="container">
  <div class="content">
    <div class="text">
      <div class="title">
        <p>
          Se você estiver procurando carros
          <span>luxuosos</span>
          , nós temos uma grande variedade de modelos pra
          <span>melhor</span>
          atender a sua
          <span>preferência</span>!
        </p>
      </div>
      <div class="view-list">
        <button mat-raised-button color="test" routerLink="list-vehicle">
          Conferir Lista de Veiculos
        </button>
      </div>
    </div>
    <div class="img-vehicle">
      <img src="../../../assets/img-vehicley.png" alt="logo-vehicle" />
    </div>
  </div>
</div>
